@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-slate-50;
}

.btn-primary {
  @apply px-4 py-2 rounded-md bg-emerald-500 text-sm font-medium hover:bg-emerald-600;
}

